# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
salaries = pd.read_csv("/Users/camilaschroeder/Desktop/DATA/Week6/day4/lab-hypothesis-testing-1/your-code/Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries["Salary or Hourly"].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries["Department"].value_counts()

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
from scipy.stats import ttest_1samp

In [8]:
hourly = salaries[salaries["Salary or Hourly"] == "Hourly"]
hourly = hourly.reset_index()
hourly.drop(columns=['Annual Salary'], inplace=True)
hourly["Hourly Rate"] = hourly["Hourly Rate"].astype(float)
hourly

,index,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Hourly Rate
0,4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,19.86
1,6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,46.10
2,7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60
3,10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,2.65
4,18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,17.68
...,...,...,...,...,...,...,...,...
8017,33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,46.10
8018,33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,17.68
8019,33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,35.60
8020,33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,46.35
8021,33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,48.85

In [9]:
mu_hourly = 30

t_hourly, p_hourly = ttest_1samp(hourly["Hourly Rate"], mu_hourly)

print(t_hourly)
print(p_hourly)

20.6198057854942
4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [10]:
police = salaries[(salaries["Salary or Hourly"] == "Salary") & (salaries["Department"].str.contains("POLIC"))]
police = police.reset_index()
police.drop(columns=["Typical Hours"], inplace=True)
police.drop(columns=["Hourly Rate"], inplace=True)
police

,index,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Annual Salary
0,0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,101442.0
1,1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,94122.0
2,9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,93354.0
3,11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,84054.0
4,12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,87006.0
...,...,...,...,...,...,...,...
13401,33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,72510.0
13402,33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,72510.0
13403,33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,48078.0
13404,33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,90024.0
13405,33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,93354.0

In [11]:
mu_police = 86000

t_police, p_police = ttest_1samp(police["Annual Salary"], mu_police)

print(t_police)
print(p_police)

3.081859442309168
0.002061291401132815

Using the `crosstab` function, find the department that has the most hourly workers.

In [12]:
dep_hourly = pd.crosstab(hourly["Department"], hourly["Salary or Hourly"])
dep_hourly = dep_hourly.sort_values(by = "Hourly", ascending = False, axis = 0)

dep_hourly.head(1)

Salary or Hourly  Hourly
Department
STREETS & SAN       1862

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [17]:
streets_san = hourly[hourly["Department"].str.contains("STREETS")]
streets_san = streets_san.reset_index()
columns_drop = ["level_0", "index"]
streets_san.drop(columns = columns_drop, inplace = True)

streets_san.head(3)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Hourly Rate
0,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60
1,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,21.43
2,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60

In [18]:
mu_streets = 35

t_streets, p_streets = ttest_1samp(streets_san["Hourly Rate"], mu_streets)

print(t_streets)
print(p_streets)

-9.567447887848152
3.3378530564707717e-21

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [20]:
import scipy.stats as stats

mean_hourly_wage = hourly['Hourly Rate'].mean()
std_error_hourly_wage = stats.sem(hourly['Hourly Rate'])

confidence_level = 0.95
degrees_of_freedom = len(hourly['Hourly Rate']) - 1
confidence_interval = stats.t.interval(confidence_level, degrees_of_freedom, mean_hourly_wage, std_error_hourly_wage)

print(f"Mean Hourly Wage: ${mean_hourly_wage:.2f}")
print(f"Standard Error: {std_error_hourly_wage:.4f}")
print(f"95% Confidence Interval: (${confidence_interval[0]:.2f}, ${confidence_interval[1]:.2f})")

Mean Hourly Wage: $32.78855771628024
Standard Error: 0.1352
95% Confidence Interval: ($32.52, $33.05)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [21]:
mean_annual_police = police["Annual Salary"].mean()
std_error_annual_police = stats.sem(police["Annual Salary"])
confidence_level_pol = 0.95
confidence_interval_pol = stats.t.interval(confidence_level_pol, mean_annual_police, std_error_annual_police)

print(f"Mean Hourly Wage: ${mean_annual_police:.2f}")
print(f"Standard Error: {std_error_annual_police:.4f}")
print(f"95% Confidence Interval: (${confidence_interval_pol[0]:.2f}, ${confidence_interval_pol[1]:.2f})")

Mean Hourly Wage: $86486.36
Standard Error: 157.8145
95% Confidence Interval: ($155.85, $159.77)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [16]:
# Your code here: